<!DOCTYPE html>
<html lang="en"
th:replace = "~{base :: parent( ~{::#content}, ~{::title} )}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page Title</title>
</head>


<body>
    <section id="content">

            <h1>Welcome to services page</h1>
            <h2>Services offered by SCM</h2>

    </section>


    <div>
        
            <ul>
              <li>
                <a class="page-link" href="#">NEXT</a>
              </li>
            </ul>
        


    </div>

</body>
</html>